/__pycache__
/diambra_ppo.py
/logs
/models
/venv
/win_venv
/config.py
config.py
roms/doapp.zip
roms/sfiii3n.zip
roms/umk3.zip
DIAMBRA/episode_recording/doapp/2024-03-17_23-31-30-diff1 - Copy.zip
DIAMBRA/episode_recording/doapp/2024-03-17_23-31-30-diff1.diambra
DIAMBRA/episode_recording/doapp/2024-03-17_23-41-49.diambra
DIAMBRA/episode_recording/doapp/2024-03-17_23-45-02.diambra
imitation/DIAMBRA/episode_recording/doapp/2024-03-17_23-31-30-diff1.diambra
imitation/DIAMBRA/episode_recording/doapp/2024-03-17_23-41-49.diambra
imitation/DIAMBRA/episode_recording/doapp/2024-03-17_23-45-02.diambra

# ignore all .pyc files
*.pyc

# ignore all .diambra files
*.diambra

# ignore all .zip files
*.zip

*.log
*.csv
*.json
*.h5
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tif
*.tiff
test.py
docker_logs.sh
docker_logs.py
/wvenv
submission/secret_gh_token
sheeprl/logs/*
imitation/logs/*
optuna/tensorboard_logs/*
optuna/optuna_logs/*
