/__pycache__
/diambra_ppo.py
/logs
/models
/venv
/win_venv
/config.py
config.py
roms/doapp.zip
roms/sfiii3n.zip
roms/umk3.zip
DIAMBRA/episode_recording/doapp/2024-03-17_23-31-30-diff1 - Copy.zip
DIAMBRA/episode_recording/doapp/2024-03-17_23-31-30-diff1.diambra
DIAMBRA/episode_recording/doapp/2024-03-17_23-41-49.diambra
DIAMBRA/episode_recording/doapp/2024-03-17_23-45-02.diambra
imitation/DIAMBRA/episode_recording/doapp/2024-03-17_23-31-30-diff1.diambra
imitation/DIAMBRA/episode_recording/doapp/2024-03-17_23-41-49.diambra
imitation/DIAMBRA/episode_recording/doapp/2024-03-17_23-45-02.diambra

# ignore all .pyc files
*.pyc

# ignore all .diambra files
*.diambra

# ignore all .zip files
*.zip

*.log
*.csv
*.json
*.h5
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tif
*.tiff
test.py
docker_logs.sh
docker_logs.py
/wvenv
submission/secret_gh_token
sheeprl/logs/*
imitation/logs/*
optuna/tensorboard_logs/trial_0/PPO_1/events.out.tfevents.1716068318.funsize.23680.0
optuna/tensorboard_logs/trial_1/PPO_1/events.out.tfevents.1716068321.funsize.23712.0
optuna/tensorboard_logs/trial_10/PPO_1/events.out.tfevents.1716073741.funsize.23830.1
optuna/tensorboard_logs/trial_11/PPO_1/events.out.tfevents.1716075579.funsize.23712.1
optuna/tensorboard_logs/trial_12/PPO_1/events.out.tfevents.1716076226.funsize.23833.2
optuna/tensorboard_logs/trial_13/PPO_1/events.out.tfevents.1716076568.funsize.23899.2
optuna/tensorboard_logs/trial_14/PPO_1/events.out.tfevents.1716077039.funsize.23680.2
optuna/tensorboard_logs/trial_15/PPO_1/events.out.tfevents.1716077427.funsize.23932.2
optuna/tensorboard_logs/trial_16/PPO_1/events.out.tfevents.1716078001.funsize.23830.2
optuna/tensorboard_logs/trial_17/PPO_1/events.out.tfevents.1716079776.funsize.23712.2
optuna/tensorboard_logs/trial_18/PPO_1/events.out.tfevents.1716080528.funsize.23833.3
optuna/tensorboard_logs/trial_19/PPO_1/events.out.tfevents.1716081008.funsize.23899.3
optuna/tensorboard_logs/trial_2/PPO_1/events.out.tfevents.1716068318.funsize.23833.0
optuna/tensorboard_logs/trial_20/PPO_1/events.out.tfevents.1716081434.funsize.23680.3
optuna/tensorboard_logs/trial_21/PPO_1/events.out.tfevents.1716082170.funsize.23830.3
optuna/tensorboard_logs/trial_22/PPO_1/events.out.tfevents.1716082240.funsize.23932.3
optuna/tensorboard_logs/trial_23/PPO_1/events.out.tfevents.1716083775.funsize.23712.3
optuna/tensorboard_logs/trial_24/PPO_1/events.out.tfevents.1716084282.funsize.23833.4
optuna/tensorboard_logs/trial_25/PPO_1/events.out.tfevents.1716085275.funsize.23680.4
optuna/tensorboard_logs/trial_26/PPO_1/events.out.tfevents.1716085373.funsize.23899.4
optuna/tensorboard_logs/trial_27/PPO_1/events.out.tfevents.1716086477.funsize.23932.4
optuna/tensorboard_logs/trial_28/PPO_1/events.out.tfevents.1716086706.funsize.23830.4
optuna/tensorboard_logs/trial_3/PPO_1/events.out.tfevents.1716068321.funsize.23830.0
optuna/tensorboard_logs/trial_4/PPO_1/events.out.tfevents.1716068321.funsize.23899.0
optuna/tensorboard_logs/trial_5/PPO_1/events.out.tfevents.1716068319.funsize.23932.0
optuna/tensorboard_logs/trial_6/PPO_1/events.out.tfevents.1716072369.funsize.23833.1
optuna/tensorboard_logs/trial_7/PPO_1/events.out.tfevents.1716072606.funsize.23680.1
optuna/tensorboard_logs/trial_8/PPO_1/events.out.tfevents.1716072644.funsize.23899.1
optuna/tensorboard_logs/trial_9/PPO_1/events.out.tfevents.1716072849.funsize.23932.1
optuna/optuna_logs/log_0.txt
optuna/optuna_logs/log_1.txt
optuna/optuna_logs/log_2.txt
optuna/optuna_logs/log_3.txt
optuna/optuna_logs/log_4.txt
optuna/optuna_logs/log_5.txt
